Importing Datasets using Pandas

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Wolrd Population Data.csv")
print(df.head())

   Rank        Country Population (2024) Yearly Change  Net Change  \
0     1          India     1,450,935,791        0.89 %  12,866,195
1     2          China     1,419,321,278       -0.23 %  -3,263,655
2     3  United States       345,426,571        0.57 %   1,949,236
3     4      Indonesia       283,487,931        0.82 %   2,297,864
4     5       Pakistan       251,269,164        1.52 %   3,764,669

  Density (P/Km²) Land Area (Km²) Migrants (net)  Fert. Rate  Med. Age  \
0             488       2,973,190       -630,830         2.0        28
1             151       9,388,211       -318,992         1.0        40
2              38       9,147,420      1,286,132         1.6        38
3             156       1,811,570        -38,469         2.1        30
4             326         770,880     -1,401,173         3.5        20

  Urban Pop % World Share
0        37 %     17.78 %
1        66 %     17.39 %
2        82 %      4.23 %
3        59 %      3.47 %
4        34 %      3.08 %

In [10]:
df.drop_duplicates(subset="Country", keep="first", inplace=True)
df.drop(columns=["Yearly Change", "Net Change", "Land Area (Km²)", "Migrants (net)", "Fert. Rate", "Urban Pop %", "World Share"], inplace=True, errors='ignore')
print(df.head())

   Rank        Country Population (2024) Density (P/Km²)  Med. Age
0     1          India     1,450,935,791             488        28
1     2          China     1,419,321,278             151        40
2     3  United States       345,426,571              38        38
3     4      Indonesia       283,487,931             156        30
4     5       Pakistan       251,269,164             326        20

In [12]:
print(df.columns)
print(df.dtypes)

Index(['Rank', 'Country', 'Population (2024)', 'Density (P/Km²)', 'Med. Age'], dtype='object')
Rank                  int64
Country              object
Population (2024)    object
Density (P/Km²)      object
Med. Age              int64
dtype: object

In [14]:
print(df.describe().T)

          count        mean        std   min    25%    50%     75%    max
Rank      234.0  117.500000  67.694165   1.0  59.25  117.5  175.75  234.0
Med. Age  234.0   31.679487   9.810427  14.0  23.00   32.5   40.00   59.0

In [28]:
Q1 = df['Population (2024)'].quantile(0.25)
Q3 = df['Population (2024)'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df = df[(df['Population (2024)'] >= lower_bound) & (df['Population (2024)'] <= upper_bound)]
print(df)

     Rank           Country  Population (2024) Density (P/Km²)  Med. Age
70     71       Netherlands         18228742.0             541        41
71     72           Ecuador         18135478.0              73        29
72     73          Cambodia         17638801.0             100        26
73     74          Zimbabwe         16634373.0              43        18
74     75            Guinea         14754785.0              60        18
..    ...               ...                ...             ...       ...
229   230        Montserrat             4389.0              44        42
230   231  Falkland Islands             3470.0               0        42
231   232           Tokelau             2506.0             251        27
232   233              Niue             1819.0               7        36
233   234          Holy See              496.0           1,240        59

[164 rows x 5 columns]

In [ ]:
df.dropna(subset=['Population (2024)'], inplace=True)
df.drop(df.iloc[:, 1:3], axis=1, inplace=True)
df.drop(df.columns[[0, 2]], axis=1, inplace=True)
print(df)

     Rank           Country  Population (2024) Density (P/Km²)  Med. Age
70     71       Netherlands         18228742.0             541        41
71     72           Ecuador         18135478.0              73        29
72     73          Cambodia         17638801.0             100        26
73     74          Zimbabwe         16634373.0              43        18
74     75            Guinea         14754785.0              60        18
..    ...               ...                ...             ...       ...
229   230        Montserrat             4389.0              44        42
230   231  Falkland Islands             3470.0               0        42
231   232           Tokelau             2506.0             251        27
232   233              Niue             1819.0               7        36
233   234          Holy See              496.0           1,240        59

[164 rows x 5 columns]

Loading Datasets Usig sklearn

In [4]:
from sklearn.datasets import load_iris
iris = load_iris()
print(iris.DESCR)
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['target'] = iris.target
print(df)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
0         0
1         0
2         0
3         0
4         0
..      ...
145       2
146       2
147       2
148       2
149       2

[150 rows x 5 columns]