Pandas

In [1]:
import numpy as np
import pandas as pd

In [5]:
data = {
    'name': ['John', 'Anna', 'Peter'],
    'location': ['New York', 'Paris', 'Berlin'],
    'age': [24, 13, 53]
}

In [6]:
df = pd.DataFrame(data)
print("DataFrame")
print(df)

DataFrame
    name  location  age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53

In [15]:
# print(df['name'])
# print(df['location'])
# print(df['age'])

print(df.name)
print(df.location)
print(df.age)

0     John
1     Anna
2    Peter
Name: name, dtype: object
0    New York
1       Paris
2      Berlin
Name: location, dtype: object
0    24
1    13
2    53
Name: age, dtype: int64

In [18]:
print(df[['name','age']])

    name  age
0   John   24
1   Anna   13
2  Peter   53

In [19]:
df['age'] = df['age'] + 1
print(df)

    name  location  age
0   John  New York   25
1   Anna     Paris   14
2  Peter    Berlin   54

In [20]:
print(df[df.name == 'Anna'])

   name location  age
1  Anna    Paris   14

In [21]:
print(df[df.age > 30])

    name location  age
2  Peter   Berlin   54

In [30]:
print(df.loc[1])
print(df.iloc[1])

name         Anna
location    Paris
age            14
Name: 1, dtype: object
name         Anna
location    Paris
age            14
Name: 1, dtype: object

In [31]:
df['Salary'] = [1000, 2000, 3000]
print(df)

    name  location  age  Salary
0   John  New York   25    1000
1   Anna     Paris   14    2000
2  Peter    Berlin   54    3000

In [32]:
print(df.describe())

             age  Salary
count   3.000000     3.0
mean   31.000000  2000.0
std    20.663978  1000.0
min    14.000000  1000.0
25%    19.500000  1500.0
50%    25.000000  2000.0
75%    39.500000  2500.0
max    54.000000  3000.0

In [35]:
print(df.age.mean())
print(df.age.std())
print(df.age.max())
print(df.age.min())

31.0
20.663978319771825
54
14

In [34]:
print(df.T)
print(df.T.describe())

                 0      1       2
name          John   Anna   Peter
location  New York  Paris  Berlin
age             25     14      54
Salary        1000   2000    3000
           0     1      2
count      4     4      4
unique     4     4      4
top     John  Anna  Peter
freq       1     1      1

In [38]:
name_series = pd.Series(df['name'])
print(name_series)
print(name_series[1])

0     John
1     Anna
2    Peter
Name: name, dtype: object
Anna

In [41]:
age_series = pd.Series(df['age'])
print(age_series)
print(age_series[1])

0    25
1    14
2    54
Name: age, dtype: int64
14

In [45]:
age_array = np.array([25, 2, 54])
print("Age array:",age_array)
print("Age series:\n",age_series)
comparison = age_series == age_array
print(comparison)

Age array: [25  2 54]
Age series:
 0    25
1    14
2    54
Name: age, dtype: int64
0     True
1    False
2     True
Name: age, dtype: bool

In [49]:
age_index = pd.Series([25, 14, 54], index=['First', 'Second', 'Third'])
print("Age Series with index:")
print(age_index)

Age Series with index:
First     25
Second    14
Third     54
dtype: int64

In [50]:
print(age_index['Second'])

14